.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tasks-Daemon-Button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.Tasks-Panel {
  width: 80%;
}

.Task-listgroup {
  color: black;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black !important;
  align-items: center;
}

.taskName {
  width: 10%;
}

.uptimeTask {
  width: 10%;
}

.pidsTask {
  width: 60%;
}

.App-header {
  margin-bottom: 50px;
}

.pids {
  display: flex;
  flex-wrap: wrap;
}

.buttonTask {
  width: 20%;
}