.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tasks-Daemon-Button {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Task-listgroup {
  color: black;
}